.quem-somos {
    padding: 5rem;
    text-align: center;
}

.quem-somos__titulo {
    margin-bottom: 1rem;
    color: #8d0606;
    font-size: 3.1875rem;
    font-family: Pacifico, cursive;
}

.quem-somos__descricao {
    font-weight: 100;
    font-size: 1.75rem;
    color: #595959;
}